   * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .container {
            height: 900px;
            width: 100%;
            background: url('./lorikeet.32d0d821.webp');
            background-position: center;
            margin: 0;
            position: relative;
            /* opacity: 0.5; */
        }

        .inner-container {
            height: 100%;
            width: 100%;
            background-color: rgba(6, 4, 62,.8);
            
            padding-top: 35px;
        }

        .nav {
            height: 70px;
            width: 100%;
            display: flex;
            /* margin-top: 35px; */
            justify-content: space-evenly;


        }

        .logo {
            height: 100%;
            width: 70px;

        }

        .menu {
            display: flex;
            justify-content: space-evenly;
            color: antiquewhite;
            gap: 50px;
            font-size: 17px;
            align-items: center;
            margin-left: 20px;
            margin-right: 20px;
            text-transform: capitalize;
            font-family: sans-serif;
        }
        
        .download {
            height: 50px;
            width: 165px;
            padding: 5px;
            align-content: center;
            text-align: center;
            background-color: aqua;
            border-radius: 30px;
            margin-top: 10px;
            font-family: sans-serif;
            font-size: 14px;
            font-weight: 600;
        }
        .menu >div:hover{
            color: aqua;
            cursor: pointer;
        }  
        .download:hover{
            box-shadow: 1px 1px 30px 10px  rgba(11, 46, 122,10);
            
        }
        .portion2{
            height: 90%;
            width: 100%;
        }
        .first{
            height: 10%;
            width: 100%;
            text-align: center;
            color:aqua;
        }